@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Dad Jokes!</h1>
    <p>This is a simple web application that uses the <a href="https://icanhazdadjoke.com/api">icanhazdadjoke API</a>. This web app allows you to <a asp-action="Random">fetch a random dad joke</a> and <a asp-action="Search">search for dad jokes</a>.</p>
</div>
